@import 'reset';
@import 'mixins';
@import 'variables';
@import 'grid';

body {
	-webkit-font-smoothing: antialiased;

	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3em;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 800;
	}

	h1 {
		font-size: 38px;
		line-height: 1.1em;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 32px;
		line-height: 1.1em;
		margin-bottom: 30px;
	}

	h3 {
		font-size: 21px;
		line-height: 1em;
		margin-bottom: 15px;
	}

	h4 {
		font-size: 16px;
		line-height: 1em;
		margin-bottom: 20px;
	}

	h5 {
		font-size: 13.28px;
		line-height: 1em;
		margin-bottom: 22px;
	}

	h6 {
		font-size: 10.72px;
		line-height: 1em;
		margin-bottom: 37px;
	}

	p {
		line-height: 1.6em;
		margin-bottom: 15px;

		strong, b {
			font-weight: 600;
		}

		em, i {
			font-style: italic;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.text_align-right {
		text-align: right;
	}
}


// MAIN CSS HERE
form {
	input:not([type="submit"]), textarea {
		width: 100%;
	}

	input[type="submit"] {
		padding: 10px 15px;
		color: white;
		background-color: #018280;
		border: 1px solid #018280;
		border-radius: 3px;

		&:hover {
			color: #018280;
			background-color: white;
		}
	}

	.wpcf7-not-valid {
		border-color: #D0021B;
	}

	.wpcf7-response-output {
		width: 100%;
		padding: 10px;
	}

	.wpcf7-not-valid-tip {
		margin-top: 5px;
	}
}

header {
	padding: 20px 0;
	background: $dark-blue;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;

	ul {
		list-style: none;
		display: flex;
		justify-content: right;
		color: white;
		li {
			margin-left: 20px;
		}
	}
}

footer {
	padding: 100px 0 50px;
	background: $dark-blue;
	color: white;
}

section.hero {
	background-color: $grey;
	padding: 200px 0 100px;
	.title {
		text-align: center;
	}
	.post-title {
		color: white;
	}
}

section.full-width-text {
	background-color: $cream;
	padding: 50px 0;
	display: flex;
	justify-content: center;
	text-align: center;

	.content {
		width: 70%;
		margin: auto;
	}
}

section.feature-panel {
	padding: 50px 0;
	background-color: $grey;
	.feature-content {
		display: flex;

		.card {
			padding: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				max-width: 50px;
			}
			.card-text {
				margin: 20px 0 0;
				text-align: center;
			}
		}
	}
}

section.text-and-image {
	background-color: $cream;
	padding: 50px 0;
	.img {
		display: flex;
		align-items: center;
	}
}

section.recent-posts {
	padding: 50px 0;
	background-color: $grey;
	.card-img {
		height: 250px;
		width: 100%;
		object-fit: cover;
	}
	.post-title {
		margin: 20px 0 0;
	}
}

.post-content {
	padding: 50px 0;
}

@import 'responsive';